pip==21.1.1; python_version >= '3'
pip==20.3.4; python_version < '3'
flake8==3.9.2
tox==3.23.1
coverage==5.5
Sphinx==4.0.0; python_version >= '3'
pytest==6.2.4; python_version >= '3'
pytest==4.6.11; python_version < '3'
