pip==21.3; python_version >= '3'
pip==20.3.4; python_version < '3'
flake8==4.0.1
tox==3.24.4
coverage==5.5; python_version < '3'
coverage==6.0.2; python_version >= '3'
Sphinx==4.2.0; python_version >= '3'
pytest==6.2.5; python_version >= '3'
pytest==4.6.11; python_version < '3'
